{% extends "blog/base.html" %}

{% block content %}
<h1>Blog home!</h1>

{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ post.author }}</a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y"}}</small>
        </div>
        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content|slice:":100" }}</p>

        {% if post.content.length >= 100 %}
        <a href="{% url 'post-detail' post.id %}">see more</a>
        {%endif%}

        <hr>
        {% if post.likes.all.count > 2 %}
        <a href="" data-toggle="modal" data-target="#likePeople_{{post.id}}" id="ThemIdDeQuery_{{post.id}}"></a>
        {% else %}
        {% if post.likes.all.count == 2 %}
        <a href="" data-toggle="modal" data-target="#likePeople_{{post.id}}">{{post.likes.all.0}} and
            {{post.likes.all.1}} like this</a>
        {% else %}
        {% if post.likes.all.count == 1 %}
        <a href="" data-toggle="modal" data-target="#likePeople_{{post.id}}">{{post.likes.all.first}}
            likes this</a>
        {%endif%}

        {% endif %}
        {% endif %}

        <form method="POST" action="{% url 'like' post.pk %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{request.path}}">
            <button style="background-color:transparent; border:none; box-shadow:none;" type="submit">
                <i class="fa-solid fa-thumbs-up"> {{post.likes.all.count}}</i>
            </button>
        </form>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="likePeople_{{post.id}}" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">People who liked this</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for likePeople in post.likes.all %}
                    <div class="row justify-content-center mt-3">

                        <a class="mr-2" href="#">{{ likePeople }}</a>

                    </div>

                    {%endfor%}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</article>



<script>
    var t = document.querySelector("#ThemIdDeQuery_{{post.id}}")
    console.log(t.innerHTML)
    t.innerHTML = "{{ post.likes.all.count}}"
    var likeLeft = t.innerHTML
    t.innerHTML = `{{post.likes.all.0}}, {{post.likes.all.1}} and ${Number(likeLeft) - 2} other people like this`

</script>
{%endfor%}
{% if is_paginated %}

{% if page_obj.has_previous %}
<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
{% if page_obj.number == num %}
<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %} <a class="btn btn-outline-info mb-4"
    href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}

    {% endif %}

    {% endblock content %}