{% extends "blog/base.html" %}
{% block content %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Delete</legend>
            <h2>you sure ? Once delete post cannot be revived</h2>
        </fieldset>

        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Yes</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Nope</button>

        </div>
    </form>
</div>
{% endblock content %}